<template>
  <div id="nav-bar">
    <navbar type="success" class="z-index-high" menu-classes="ml-auto">
      <a class="navbar-brand text-white" href="#">
        <img src="http://cdn.onlinewebfonts.com/svg/img_453163.png" alt="brand">
      </a>
      <template slot="navbar-menu">
        <li class="nav-item">
          <a href="#" class="nav-link text-white"><i class="fa fa-th-large"></i></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white"><i class="fa fa-question-circle"></i></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white"><i class="fa fa-book-open"></i></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">Greffin Repollo</a>
        </li>
        <li class="nav-item">
          <img
              src="../../assets/user.jpg"
              class="user-img">
        </li>
          <drop-down tag="li" class="nav-item" title="" icon="fa fa-ellipsis-v ml-1 text-white" position="right">

            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </drop-down>
      </template>
    </navbar>
    <div class="px-5">

    </div>
  </div>
</template>

<script>
import {Navbar,DropDown} from "@/components"

export default {
  name: "NavBar",
  components: {Navbar,DropDown}
}
</script>

<style scoped>

</style>