
#nav {
  padding: 30px 15px 15px;

  #nav-bar {
    nav {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .navbar-brand {
        img {
          height: 40px;
        }
      }

      .user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .dropdown-toggle::after {
        border: none;
      }
    }
  }
}