<template>
  <div class="home bg-secondary">
    <div class="profile-content">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex">
            <img class="profile-img" src="../../assets/user.jpg" alt="">
            <div class="pl-4">
              <h4 class="text-white">Welcome Back, Greffin Repollo</h4>
              <n-button type="success" class="border rounded-pill btn-sm px-4 mt-2">Continue my progress</n-button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="progress-bar-container">
            <div class="d-flex">
              <span class="text-secondary">0/15 complete</span>
              <span class="ml-auto text-white">7%</span>
            </div>
            <n-progress :value="7" type="success" :height="10">
            </n-progress>
            <span class="progress-badge" style=""></span>
          </div>
        </div>
      </div>

    </div>
    <div class="home-content">
      <div class="items">
        <div class="item mb-5" v-for="(item, index) in items" :key="index">
          <card class="text-center">
            <div class="row mb-5 mt-3">
              <div class="col-6 d-flex">
                <span class="mr-5 my-auto text-success font-weight-bold">Model {{index+1}}</span>
                <i class="my-auto fa fa-video-camera text-success"></i>
              </div>
              <div class="col-6">
                <div class="modules progress-bar-container">
                  <div class="d-flex">
                    <small class="text-muted">0/9 complete</small>
                    <small class="ml-auto text-muted">11%</small>
                  </div>
                  <n-progress :value="7" type="success" :height="10">
                  </n-progress>
                  <span class="progress-badge"></span>
                </div>
              </div>
            </div>
            <h4 class="card-title text-left">Special title treatment</h4>
            <p class="card-text text-left">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum doloribus ea fugiat itaque magnam magni
              natus
              officiis reiciendis soluta? Asperiores, blanditiis consequatur deleniti doloribus ex harum porro quae rem
              tempore.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, asperiores ex id impedit molestias
              officiis
              repellendus similique voluptatibus. Accusamus aperiam autem et facere id itaque laudantium nam quo ratione
              vitae.
            </p>
          </card>
          <collapse>
            <collapse-item name="1">
              <div>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </collapse-item>
          </collapse>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Button, Progress, Card, Collapse, CollapseItem} from '@/components'

export default {
  name: 'Home',
  data() {
    return {
      items: [
        {},
        {},
        {},
        {},
        {},
      ]
    }
  },
  components: {
    [Button.name]: Button,
    [Progress.name]: Progress,
    Card, Collapse,
    CollapseItem
  }
}
</script>
