body {
  background-color: #f1f3f9;
}

.home {
  position: relative;

  .modules {
    .progress-badge {
      width: 14px;
      height: 14px;
      background-color: #21b789;
      position: absolute;
      z-index: 10;
      left: calc(8% + 8px);
      border-radius: 50%;
      border: 1px solid #fff;
      bottom: -2px;
    }
    .progress-bar {
      background-color: $success-color !important;
    }
  }

  .progress-badge {
    width: 14px;
    height: 14px;
    background-color: #21b789;
    position: absolute;
    z-index: 10;
    left: calc(8% + 9px);
    border-radius: 50%;
    border: 1px solid #fff;
    bottom: 4px;
  }

  .progress-bar.success {
    background-color: $success-color !important;
  }

  .progress-bar {
    border-radius: 4px;
  }

  .profile-content {
    background-color: $success-color;
    padding: 50px 250px 100px 250px;

    .profile-img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .progress-bar-container {
      margin-top: 38px;

      span {
        font-size: 14px;
      }


      .progress {
        background-color: darken($success-color, 10%);

        .progress-bar {
          background-color: white;
        }
      }
    }
  }

  .home-content {

    display: block;
    position: absolute;
    top: 180px;
    width: 60%;
    left: 20%;


    .items {
      .card {
        display: block;
        width: 100%;
        border: none;
      }

      .card-plain {
        border: none;
        border-bottom-color: red;

        .card-header {
          display: block;
          border: none;
          padding: 0;
          background-color: white;

          .fa-angle-down {
            width: 40px;
            height: 30px;
            background-color: $success-color;
            /*padding-left: 15px;
            padding-top: 12px;*/
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            color: white;
            padding-top: 10px;
          }
        }
      }
    }
  }
}