$primary-color : #2261ad;
$success-color :#21b789;
$danger-color : #dc3545;
$dark-color : #000000;
$secondary-color: #6C757D;
$info-color: #0DCAF0;
$warning-color: #FFC107;
$light-color: #F8F9FA;
$red-color:#dc3545;
$purple-color: #96268a;

