<template>
  <div id="app">
    <div id="nav">
     <NavBar></NavBar>
      <Home></Home>
    </div>
  </div>
</template>

<style>
</style>
<script>
import NavBar from "@/views/layout/NavBar";
import Home from "@/views/pages/Home";
export default {
  components: {Home, NavBar}
}
</script>